/*fonts*/

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-Light.ttf');
}

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-Medium.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-LightItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Noto Sans Japanese;
  src: url('/fonts/NotoSansJP-Light.ttf');
}

@font-face {
  font-family: Noto Sans Japanese;
  src: url('/fonts/NotoSansJP-SemiBold.ttf');
  font-weight: bold;
}

/*layout css*/

html {
  height: 100%;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tomorrow', 'Noto Sans Japanese', sans-serif;
  font-size: 0.95em;
  margin: 0;
  background-color: #0a1114;
  color: #e2ede6;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 800px;
  /* if you change the above value, scroll to the bottom and change the media query according to the comment! */
  margin: auto;
  /* this centers the entire page */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 22px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

a {
  color: #58c4aa;
  font-weight: bold;
}

.buttonblur {
  width: 88px; 
  height: 31px;
}

.buttoncrisp {
  width: 88px; 
  height: 31px;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* Dynamic chainlink fence styles */

#underconstruction {
  margin: 10px;
  padding: 0px 15px;
  background: linear-gradient(-45deg, rgb(0, 0, 0) 25%, rgb(176, 148, 16) 25%, rgb(176, 148, 16) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgb(176, 148, 16) 75%, rgb(176, 148, 16) 100%);
  background-size: 20px 20px;
}

#dynamic-link a {
  color: rgb(176, 148, 16);
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition */
}

#dynamic-link a:hover {
  color: rgba(246, 204, 14, 1);
}

#chain-fence {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0; /* Will be dynamically adjusted */
  background: repeating-linear-gradient(45deg, 
      rgba(40, 60, 60, 0.7) 0, 
      rgba(40, 60, 60, 0.7) 1px, 
      transparent 1px, 
      transparent 15px),
      repeating-linear-gradient(-45deg, 
      rgba(40, 60, 60, 0.7) 0, 
      rgba(40, 60, 60, 0.7) 1px, 
      transparent 1px, 
      transparent 15px);
  background-color: transparent;
  z-index: -1; /* Place it below other content */
  pointer-events: none; /* Make it non-interactive */
}

.fence-post {
  position: absolute;
  width: 10px; /* Thickness of the posts */
  background-color: rgba(40, 60, 60, 1); /* Same color as the chain links */
  top: 0;
  bottom: 0;
}

#post-left {
  left: 20%; /* Position the left post */
}

#post-right {
  right: 20%; /* Position the right post */
}

/* General poster styles */
.poster {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  z-index: 1; /* Above the chain fence */
  pointer-events: none; /* Non-interactive */

  /* Flexbox for centering */
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  text-align: center; /* Ensure multi-line text is centered */
}

/* Specific styles for each poster */
.concert-poster {
  width: 130px;
  height: 160px;
  color: teal;
  background: #000;
  font-family: 'Tomorrow', sans-serif;
  font-size: 1.3em;
  top: 60%;
  left: 20%;
  transform: rotate(-10deg);
}

.missing-poster {
  width: 100px;
  height: 120px;
  top: 45%;
  right: 20%;
  transform: rotate(5deg);
}

/* Rain effect styles */

:root {
  --raindrop-width: 1px;
  --raindrop-height: 16px;
}

#rainToggleButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  padding: 5px 5px;
  background-color: #1a2b32;
  color: #fff;
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#raindropContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure it stays behind the content */
  pointer-events: none; /* Allow clicks to pass through */
}

/* BELOW THIS POINT IS MEDIA QUERY */

@media only screen and (max-width: 700px) {
  .fence-post {
    display: none;
  }

  .poster {
    display: none;
  }
}