/* == Fonts == */

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-Light.ttf');
}

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-Medium.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Tomorrow;
  src: url('/fonts/Tomorrow-LightItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Noto Sans Japanese;
  src: url('/fonts/NotoSansJP-Light.ttf');
}

@font-face {
  font-family: Noto Sans Japanese;
  src: url('/fonts/NotoSansJP-SemiBold.ttf');
  font-weight: bold;
}


/* == Layout styles == */

html {
  height: 100%;
}

body {
  font-family: 'Tomorrow', 'Noto Sans Japanese', sans-serif;
  font-size: 0.95em;
  margin: 0;
  background-color: rgb(10, 17, 20);
  color: rgb(226, 237, 230);
  height: 100%;
}

* {
  box-sizing: border-box;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22px;
  padding: 10px;
  color: rgb(226, 237, 230);
  text-transform: uppercase;
}

#container {
  max-width: 800px; /* If you change this value, remember to change the media query */
  margin: auto; /* Centers the entire page */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* == Button styles == */

.buttonBlur, .buttonCrisp {
  width: 88px; 
  height: 31px;
}

.buttonCrisp {
  image-rendering: pixelated; /* Universal support since 2021 */
}


/* == Elements == */

/* = Under construction sign = */

#ucStripedBackground {
  margin: 10px;
  padding: 0px 15px;
  background: linear-gradient(-45deg,
      rgb(0, 0, 0) 25%,
      rgb(246, 204, 14) 25%,
      rgb(246, 204, 14) 50%,
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0) 75%,
      rgb(246, 204, 14) 75%,
      rgb(246, 204, 14) 100%);
  background-size: 20px 20px;
}

#ucTextBox {
  background: #0a1114;
  text-align: center;
}

#ucDynamicLink a {
  color: rgb(246, 204, 14);
}


/* = Dynamic chainlink fence = */

#chainFence {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0; /* Will be dynamically adjusted */
  background: repeating-linear-gradient(45deg, 
      rgba(40, 60, 60, 0.7) 0, 
      rgba(40, 60, 60, 0.7) 1px, 
      transparent 1px, 
      transparent 15px),
      repeating-linear-gradient(-45deg, 
      rgba(40, 60, 60, 0.7) 0, 
      rgba(40, 60, 60, 0.7) 1px, 
      transparent 1px, 
      transparent 15px);
  background-color: transparent;
  z-index: -1; /* Places below other content */
}

.fencePost {
  position: absolute;
  width: 15px; /* Thickness of the posts */
  background-color: rgb(40, 60, 60);
  top: 0;
  bottom: 0;
  display: flex; /* Enable flexbox for the post */
  justify-content: center;
  align-items: center; /* Center the poster inside the fence post */
}

#postLeft {
  left: 15%;
}

#postCentre {
  left: 50%; /* Position the left edge at the center */
  transform: translateX(-50%); /* Move center of element to center of page */
}

#postRight {
  right: 15%;
}


/* = Poster styles = */

.poster {
  z-index: 1; /* Above the chain fence */
  font-family: 'Tomorrow', sans-serif;

  /* Flexbox for centering */
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  text-align: center; /* Ensure multi-line text is centered */
}


/* = Auldnoir poster = */

.auldnoirPoster {
  width: 95px;
  height: 120px;
  margin: 0.5em;
  color: rgb(246, 204, 14);
  background: rgb(0, 43, 54);
  font-size: 1.2em;
  font-weight: bold;
  transform: rotate(2deg);
  z-index: 10;
}

.auldnoirPoster a {
  z-index: 3; /* Ensure it is clickable */
  pointer-events: auto; /* Enable clicking */
}


/* = Missing posters = */

.missingPoster {
  position: absolute;
  width: 110px;
  height: 155px;
  background: rgb(226, 237, 230);
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.modifierLeft {
  transform: rotate(3deg);
  margin-top: 180px;
}

.modifierRight {
  transform: rotate(-4deg);
  margin-top: 70px;
}

.missingText {
  font-weight: bold;
  font-size: 1.6em;
}

.mugshot {
  width: 85%;
  height: auto;
  margin: 5px 0px;
}


/* == Rain effect == */

:root {
  --raindrop-width: 1px;
  --raindrop-height: 16px;
}

#rainToggleButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  padding: 5px 5px;
  background-color: rgb(26, 43, 50);
  color: rgb(226, 237, 230);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#raindropContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2; /* Ensure it stays behind the content */
  pointer-events: none; /* Allow clicks to pass through */
}


/* == Media query == */

@media only screen and (max-width: 800px) {
  #postRight, #postLeft {
    display: none;
  }
}